@charset "UTF-8";
.title-header {
  width: 100%;
  height: 70px;
  background: #5579e0;
}

.header-nav {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}

.header-nav .d-logo {
  float: left;
}

.header-nav .nav-left {
  float: right;
}

.header-nav .nav-left .ico-bor {
  float: right;
  height: 70px;
}

.header-nav .nav-left .dow-cd {
  float: right;
  display: block;
  width: 26px;
  height: 26px;
  color: #fff;
  background: #97adf8;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 22px;
  line-height: 28px;
  text-align: center;
}

.header-nav .nav-left .nav-tx {
  height: 70px;
  float: right;
  margin-right: 10px;
}

.header-nav .nav-left .nav-tx img {
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.header-nav .nav-left .nav-tx p {
  float: left;
  margin-left: 20px;
  font-size: 14px;
  float: left;
  color: #fff;
  line-height: 70px;
}

.header-nav .nav-left .nav-help {
  float: right;
  height: 70px;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
}

.header-nav .nav-left .nav-help span {
  display: block;
  float: left;
  color: #FFF;
  font-size: 40px;
  margin-right: 10px;
}

.header-nav .nav-left .nav-help p {
  float: left;
  color: #fff;
}

.cd-title {
  padding-top: 10px;
  width: 152px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 99;
}

.cd-title .cd-sjx {
  float: right;
  margin-right: 22px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #6273f0 transparent transparent;
  transform: rotate(90deg);
  /*顺时针旋转90°*/
}

.cd-title .cd-list {
  width: 152px;
  height: auto;
  overflow: hidden;
  background: #6273f0;
}

.cd-title .cd-list li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #7a89f2;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  /* Firefox 4 */
  -webkit-transition: 0.5s all ease;
  /* Safari and Chrome */
  -o-transition: 0.5s all ease;
  /* Opera */
}

.cd-title .cd-list li a {
  color: #fff;
  font-size: 14px;
  display: block;
  width: 100%;
}

.cd-title .cd-list li a span {
  color: #fff;
  font-size: 18px;
  margin-left: 16px;
  margin-right: 20px;
}

.cd-title .cd-list li:last-child {
  border: none;
}

.cd-title .cd-list li:hover {
  background: #8391f7;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  /* Firefox 4 */
  -webkit-transition: 0.5s all ease;
  /* Safari and Chrome */
  -o-transition: 0.5s all ease;
  /* Opera */
}

.ico-bor:hover .cd-title {
  height: auto;
}
